<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <!-- Ledger rows per feed request. RunStore's ring caps it further. -->
    <type name="Muon\DevProfilerBoard\Model\Run\RunSelector">
        <arguments>
            <argument name="feedLimit" xsi:type="number">25</argument>
        </arguments>
    </type>
</config>
